<%- include ('../../partials/header.ejs'); %>
<%- include ('../../partials/navbar.ejs'); %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Register category</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/categories/save">
                <input class="form-control" type="text" name="title" placeholder="Category name"><br>
                <button class="btn btn-secondary">Register</button>
            </form>
        </div>
    </div>
</div>
<%- include ('../../partials/footer.ejs'); %>