<div class="container">
<div class="categbuttons">
<% categories.forEach(category => { %>
    <button type="button" class="btn btn-outline-warning">
        <a id="linkid" href="/category/<%= category.slug%>"><%= category.title%></a>
    </button>
 <% }) %>
</div>

</div>

 <style>
     #linkid{
         text-decoration: none;
         color: black;
     }

     button{
         margin-top: 4%;
         margin-bottom: 4%;
         
     }

     .categbuttons{
         text-align: end;
     }
 </style>