<div class="container mt-4">
  <div class="about">
    <h4>About the author</h4><hr>
    <img class="img" src="images/author.jpeg">
    <div class="p-hl">
        <p>Lorem ipsum ie augue lorem, a tincidunt arcu laoreet et. Vivamus suscipit auctor massa ac eleifend. Nullam varius nunc magna, id vulputate dolor convallis sed. Phasellus tempus enim mauris, non faucibus diam luctus ut. Nunc ultricies ullamcorper augue, sed fringilla libero eleifend non. 
        Sed dignissim rhoncus ante sed condimentum. Curabitur vulputate cursus urna et condimentum. Suspendisse viverra viverra nibh, eu interdum mi consequat sit amet. Ut arcu lorem, dictum eu elit quis, efficitur mattis justo. Nullam vel malesuada lorem, vel hendrerit mauris. Nulla a sem eget ligula consequat luctus. Aenean consequat eros id mattis facilisis.
        Loreet et.
        <a href="https://www.linkedin.com/pulse/cria%25C3%25A7%25C3%25A3o-de-um-sistema-blog-ferramenta-mostrar-seu-em-web-silva/?trackingId=mHntK2d8RA2yaeEbGjcz%2BA%3D%3D" target="_blank">Click here</a>
        </p>
    </div>
  </div>  
</div>

<style>
  .p-hl p a{
    text-decoration: none;
    color: #a109ee;
  }
</style>