<div id="introducao">

    <div class="jumbotron shadow-lg">
        <h1 class="display-4">Welcome to Guia Press!</h1>
        <p class="lead">Programming blog</p>
        <hr class="my-4">
        <p>Many interesting articles.</p>
    </div>

</div>

<style>
h1{
    color: #ff686b;
}
</style>