<div id="pagination">

    <div class="row">
            <div class="col col-12">
                <a style="float: right; color: black; text-decoration: none;" href="/home">Lista completa de artigos ></a>
            </div>
    </div>
</div>

