<div id="pagination">

    <div class="row">
            <div class="col col-12">
                <a style="float: right; color: gray; text-decoration: none;" href="/allarticles">More ></a>
            </div>
    </div>
</div>

