<div id="pagination">

    <div class="row">
            <div class="col col-12">
                <a style="float: right; color: black;" href="/articles/page/2">Next ></a>
            </div>
    </div>
</div>

