<div class="container">
    <div class="session">
      
        <div class="swiffy-slider slider-item-show2 slider-nav-sm slider-nav-page slider-item-snapstart slider-item-nogap slider-nav-round slider-nav-dark slider-indicators-sm slider-indicators-outside slider-indicators-round slider-indicators-dark slider-nav-animation slider-nav-animation-slideup slider-item-last-visible">
            <div class="slider-container">
                <div class="p-3 p-xl-5 text-light" style="background-color: #ff686b">
                    <h3 class="text-uppercase h5">Eros donec ac odio tempor orci</h3>
                    <p>
                        Ut consequat semper viverra nam libero justo laoreet sit. Maecenas sed enim ut sem viverra. Etiam non quam lacus suspendisse. Tincidunt dui ut ornare lectus sit amet est placerat.
                    </p>
                </div>
                <div class="p-3 p-xl-5 text-light" style="background-color:  #c471ed">
                    <h3 class="text-uppercase h5">Vitae justo eget magna fermentum</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam in arcu cursus euismod quis viverra. Id velit ut tortor pretium viverra suspendisse potenti nullam ac.</p>
                </div>
                <div class="p-3 p-xl-5 text-light" style="background-color: #f7797d">
                    <h3 class="text-uppercase h5">Lorem ipsum dolor sit amet, consectetur adipiscing </h3>
                    <p>
                        Tellus at urna condimentum mattis pellentesque id nibh. Vitae justo eget magna fermentum iaculis eu. Ullamcorper eget nulla facilisi etiam dignissim diam quis enim.</p>
                </div>
                <div class="p-3 p-xl-5 text-light" style="background-color: #FBD786">
                    <h3 class="text-uppercase h5">Maecenas sed enim ut sem viverra</h3>
                    <p>
                        Non blandit massa enim nec dui nunc mattis enim ut. Eros donec ac odio tempor orci. Pharetra convallis posuere morbi leo urna molestie at elementum. Libero id faucibus nisl tincidunt eget nullam non nisi est.</p>
                </div>
            </div>
        
            <button type="button" class="slider-nav" aria-label="Go left"></button>
            <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
        
            <div class="slider-indicators d-md-none">
                <button class="" aria-label="Go to slide"></button>
                
                <button aria-label="Go to slide" class=""></button>
                <button aria-label="Go to slide"></button>
                <button aria-label="Go to slide" class="active"></button>
            </div>
        </div>
    </div>
</div>


<style>

  

</style>

