body{
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron{
    background-color: #FFEFBA;
    text-align: end;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    shape-margin: 10px;
}

.p-hl{
    width: 60%;
}

#art{
    text-align: end;
}

.container ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 20px;
    padding-left: 7em;
    
}
    @media all and (max-width: 800px) {
        .container ul {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
        }
    }

    /* Small screens */
    @media all and (max-width: 500px) {
        .container ul {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
        padding-left: 5em;
        }
    }
    @media all and (max-width: 500px) and (orientation: landscape){
        .container ul{
            display: flex;
            padding-left: 10em
        }
        #pagination{
            padding-bottom: 10%;
        }
    }

.container li{
    
    text-align: center;
    background-color: #ffffff6e;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;   
}
