<%- include ('../../partials/header.ejs'); %>
<%- include ('../../partials/homenavbar.ejs'); %>

<div class="container">

    <div class="card mt-4">
        <div class="card-header">
            <h2>Admin Login</h2>

        </div>
        <div class="card-body">
            <form action="/authenticate" method="POST">
                <input class="form-control" name="email" type="email" placeholder="entrar com: 123@123.com"><br>
                <input class="form-control" name="password" type="password" placeholder="entrar com: 123"><br>

                <button type="submit" class="btn btn-secondary btn-block">Login</button>
            </form>
        </div>
    </div>
    
</div>
<%- include ('../../partials/footer.ejs'); %>

