<%- include ('../../partials/header.ejs'); %>
<%- include ('../../partials/navbar.ejs'); %>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Articles</h5>
              <p class="card-text">Write, edit, delete and publish articles.</p>
              <a href="/admin/articles" class="btn btn-secondary">Go</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Categories</h5>
              <p class="card-text">Create, edit and delete categories.</p>
              <a href="/admin/categories" class="btn btn-secondary">Go</a>
            </div>
          </div>
        </div>
       <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Users</h5>
              <p class="card-text">Add administrators.</p>
              <a href="/admin/users/create" class="btn btn-secondary">Go</a>
            </div>
          </div>
        </div>
</div>

<%- include ('../../partials/footer.ejs'); %>